
{% include 'header.html' %}


{% block block_name %}


    <main>
        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">
                        <!-- <small>Festava Live Presents</small> -->
                        <div class="coundown-container" data-aos="fade-down">
                            <h1 id="headline"></h1>
                            <div id="countdown">
                                <ul>
                                    <li><span id="days"></span>days</li>
                                    <li><span id="hours"></span>Hours</li>
                                    <li><span id="minutes"></span>Minutes</li>
                                    <li><span id="seconds"></span>Seconds</li>
                                </ul>
                            </div>
                        </div>

                        <h1 class="text-white mb-5" data-aos="fade-up">Happy New Year 2023 </h1>

                        <!-- <a class="btn custom-btn smoothscroll" href="#section_2">Let's begin</a> -->
                    </div>

                    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">

                        <div class="location-wrap mx-auto py-3 py-lg-0">
                            <h5 class="text-white">
                                <i class="custom-icon bi-geo-alt me-2"></i>
                                India's &nbsp;Top &nbsp;10 &nbsp;Party &nbsp;Club
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="static/video/sp.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>

        <br>


        <br>
        <section class="artists-section" id="section_3">
            <div class="row justify-content-center">

                <h2 style="text-align: center;" data-aos="fade-down">Top 10 Places</h2>
                <br>


                <div class="wrapper">
                    <div class="cols">
                        <div class="column" data-aos="fade-right" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(static/images/club/club\ cubana.webp)">
                                    <div class="inner">
                                        <p>Club Cubana</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>
                                            Undoubtedly Asia’s number one Night Club, located atop Arpora hill.
                                            “Nightclub in the Sky” Club Cubana.
                                        </p>

                                        <div class="c-btn">
                                            <a href="details" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Club+cabana,+Katai+naka,+Katai+Pipeline+Rd,+Dombivli,+Maharashtra+421204/@19.1720713,73.082726,17z/data=!4m16!1m6!3m5!1s0x3be7bf6386eceba9:0xf7ebb1149675f2f!2sClub+cabana!8m2!3d19.1720678!4d73.084915!4m8!1m0!1m5!1m1!1s0x3be7bf6386eceba9:0xf7ebb1149675f2f!2m2!1d73.084915!2d19.1720678!3e3"
                                            target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-right" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(static/images/club/kitty\ su\ mumbai.jpg)">
                                    <div class="inner">
                                        <p> Kitty Su Mumbai</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Industrial-chic nightspot with contemporary lighting, a full bar & a calendar of DJ dance parties.</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Kitty+Su+Mumbai,+Ground+Floor+The+LaLit+Mumbai,+Airport+Rd,+Navpada,+Marol,+Andheri+East,+Mumbai,+Maharashtra+400059/@19.105277,72.873539,17z/data=!3m1!5s0x3be7c86a9ff16ff1:0x5cfe316bb9ff70cc!4m16!1m6!3m5!1s0x3be7c86a865ff533:0x53982e572975e4a6!2sKitty+Su+Mumbai!8m2!3d19.105277!4d72.875733!4m8!1m0!1m5!1m1!1s0x3be7c86a865ff533:0x53982e572975e4a6!2m2!1d72.875733!2d19.105277!3e3" target="_blank"  class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-right" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                                    <div class="inner">
                                        <p>Venom Bar</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>"Top-notch place in the area, unique flavored drinks and exquisite interiors"</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Venom+Bar,+3,+Govind+Nagar+Beach+Symphony+Palms+Beach+Resort,+Havelock+Island,+Andaman+and+Nicobar+Islands+744211/@12.0283225,92.9991364,17z/data=!4m16!1m6!3m5!1s0x3088d36b8d4aaf67:0xcd50769d3efeeb7b!2sVenom+Bar!8m2!3d12.0283173!4d93.0013197!4m8!1m0!1m5!1m1!1s0x3088d36b8d4aaf67:0xcd50769d3efeeb7b!2m2!1d93.0013197!2d12.0283173!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-right" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                                    <div class="inner">
                                        <p> SinQ Night Club</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Chic nightclub & lounge featuring an outdoor bar, private poolside cabanas & resident DJs.</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Sinq+Night+Club,+Aguada+-+Siolim+Rd,+opposite+Taj+Holiday+Village,+Candolim,+Goa+403515/@15.5015435,73.7017771,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bbfc1a01a943863:0x386887c10686e33a!2m2!1d73.771646!2d15.501389!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-right" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/504/504/">
                                    <div class="inner">
                                        <p>Hammerzz Nightclub</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>High-energy club featuring lounge areas & a spacious dance floor with flashy light displays.</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Hammerzz+Nightclub,+Calangute+-+Baga+Road,+Baga,+Goa/@15.5651469,73.6809758,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bbfeb9a773e4359:0x3158a466abe023a4!2m2!1d73.7508447!2d15.5649925!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-left" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                                    <div class="inner">
                                        <p>Sin City</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Cocktails & bar food offered in a rooftop space with live music, plush decor & outdoor seating.</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Sin+City+Rooftop+Resto+%26+Lounge,+Clue+Hunt+Andheri,+New+Link+Road,+Star+Bazaar,+Sahayog+Nagar,+Bhudargarh+Colony,+Andheri+West,+Mumbai,+Maharashtra/@19.1310054,72.7611993,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3be7b7c6ec70763d:0xda9eb951309b84f4!2m2!1d72.8310681!2d19.1308564!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-left" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                                    <div class="inner">
                                        <p>Pink Fly Lounge</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Pink Fly in Port Blair is the only night club, there are different events on different nights</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Pink+Fly+Lounge,+Thomas+Colony,+Junglighat,+Port+Blair,+Andaman+and+Nicobar+Islands+744101/@11.6649847,92.6692311,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x30889509f229d58b:0x822a7c6c220e3960!2m2!1d92.7391029!2d11.6648556!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-left" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                                    <div class="inner">
                                        <p>Club Tito's</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Typical nightspot offering a variety of cocktails and beer, plus DJ music and dancing.</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Club+Titos,+Titos+Lane,+Saunta+Vaddo,+Baga,+Goa/@15.5564732,73.6832923,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bbfea1cb38b3577:0x245d8ae9e7c2a617!2m2!1d73.7531612!2d15.5563188!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-left" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/509/509/)">
                                    <div class="inner">
                                        <p>Owl-The Premium Night Club</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Bar & restaurant serving multicuisine snacks, walking distance from the beach.</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//Kitty+Su+Mumbai,+Ground+Floor+The+LaLit+Mumbai,+Airport+Rd,+Navpada,+Marol,+Andheri+East,+Mumbai,+Maharashtra+400059/@19.105277,72.873539,17z/data=!3m1!5s0x3be7c86a9ff16ff1:0x5cfe316bb9ff70cc!4m16!1m6!3m5!1s0x3be7c86a865ff533:0x53982e572975e4a6!2sKitty+Su+Mumbai!8m2!3d19.105277!4d72.875733!4m8!1m0!1m5!1m1!1s0x3be7c86a865ff533:0x53982e572975e4a6!2m2!1d72.875733!2d19.105277!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column" data-aos="fade-left" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(https://unsplash.it/510/510/)">
                                    <div class="inner">
                                        <p>The Half Moon Club</p>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>There isn’t a more sophisticated way to wrap up your day in Cape May than an evening at the Brown Room</p>
                                        
                                        <div class="c-btn">
                                            <a href="#" class="read-more"><span>Read More</span></a>
                                            &nbsp;&nbsp; <a href="https://www.google.com/maps/dir//The+Half+moon+Club+And+Lounge,+86,+Satya+Tower+Basement+opposite+Bata+Showroom,+Sapna+Sangeeta+Rd,+Indore,+Madhya+Pradesh+452001/@22.7009822,75.8675407,17z/data=!4m16!1m6!3m5!1s0x3962fd9f87ee674f:0xd2b8934db7e8db25!2sThe+Half+moon+Club+And+Lounge!8m2!3d22.7010332!4d75.8696949!4m8!1m0!1m5!1m1!1s0x3962fd9f87ee674f:0xd2b8934db7e8db25!2m2!1d75.8696949!2d22.7010332!3e3" target="_blank" class="map"><i class="fa-solid fa-map-location-dot"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </main>


    <script src="static/js/click-scroll.js"></script>
    
    {% endblock %}
    
    {% include 'footer.html' %}


</body>

</html>


