{% include 'header.html' %}
{% block content %}

<!-- map -->

    <!-- bootstrap css -->
    <link rel="stylesheet" href="static/maps/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="static/maps/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="static/maps/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="static/maps/css/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="static/maps/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">


    
    {% comment %} <section class="hero-section" id="section_1">
      <div class="section-overlay"></div>

      <div class="container d-flex justify-content-center align-items-center">
          <div class="row">

              <div class="col-12 mt-auto mb-5 text-center">

                  <h1 style="font-size:60px;" class="text-white mb-5" data-aos="fade-up">Maps </h1>

                  <!-- <a class="btn custom-btn smoothscroll" href="#section_2">Let's begin</a> -->
              </div>

              <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">

                  <div class="location-wrap mx-auto py-3 py-lg-0">
                      <h5 class="text-white">
                          Scroll &nbsp;Down &nbsp;
                      </h5>
                  </div>
              </div>
          </div>
      </div>

      <div class="video-wrap">
          <video autoplay="" loop="" muted="" class="custom-video" poster="">
              <source src="static/video/club video short.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      </div>
  </section> {% endcomment %}

  
   <!-- gallery -->
   <div id="gallery" class="gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Party <span class="green">Maps in India</span></h2>
                  <p>here are many Party Places where you can do parties and Many More things enjoy your new year just
                     like you think in your dreams </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/club co.jpg" style="height: 20rem; padding-right: 140px;">
                           </div>
                           <div class="flip-card-back">

                               
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">club cabana</h1>
                  <a href="https://www.google.com/maps/dir//Club+cabana,+Katai+naka,+Katai+Pipeline+Rd,+Dombivli,+Maharashtra+421204/@19.1720713,73.082726,17z/data=!4m16!1m6!3m5!1s0x3be7bf6386eceba9:0xf7ebb1149675f2f!2sClub+cabana!8m2!3d19.1720678!4d73.084915!4m8!1m0!1m5!1m1!1s0x3be7bf6386eceba9:0xf7ebb1149675f2f!2m2!1d73.084915!2d19.1720678!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 2nd map  -->

            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/kitty su mumbai2.jpg"  style="height: 20rem;padding-right: 140px;">
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">Kitty su Mumbai</h1>
                  <a href="https://www.google.com/maps/dir//Kitty+Su+Mumbai,+Ground+Floor+The+LaLit+Mumbai,+Airport+Rd,+Navpada,+Marol,+Andheri+East,+Mumbai,+Maharashtra+400059/@19.105277,72.873539,17z/data=!3m1!5s0x3be7c86a9ff16ff1:0x5cfe316bb9ff70cc!4m16!1m6!3m5!1s0x3be7c86a865ff533:0x53982e572975e4a6!2sKitty+Su+Mumbai!8m2!3d19.105277!4d72.875733!4m8!1m0!1m5!1m1!1s0x3be7c86a865ff533:0x53982e572975e4a6!2m2!1d72.875733!2d19.105277!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 3rd maps -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/venum.jpg" style="height: 300px;padding-right: 140px;">
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">Venum Bar</h1>
                  <a href="https://www.google.com/maps/dir//Venom+Bar,+3,+Govind+Nagar+Beach+Symphony+Palms+Beach+Resort,+Havelock+Island,+Andaman+and+Nicobar+Islands+744211/@12.0283225,92.9991364,17z/data=!4m16!1m6!3m5!1s0x3088d36b8d4aaf67:0xcd50769d3efeeb7b!2sVenom+Bar!8m2!3d12.0283173!4d93.0013197!4m8!1m0!1m5!1m1!1s0x3088d36b8d4aaf67:0xcd50769d3efeeb7b!2m2!1d93.0013197!2d12.0283173!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 4th map  -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/sinqnightclub.jpg">
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >

                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">SinQ Night Club</h1>
                  <a href="https://www.google.com/maps/dir//Sinq+Night+Club,+Aguada+-+Siolim+Rd,+opposite+Taj+Holiday+Village,+Candolim,+Goa+403515/@15.5015435,73.7017771,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bbfc1a01a943863:0x386887c10686e33a!2m2!1d73.771646!2d15.501389!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 5th map  -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/hamrezz.jpg" style="height: 300px;padding-right: 140px;" >
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">Hammerzz Nightclub</h1>
                  <a href="https://www.google.com/maps/dir//Hammerzz+Nightclub,+Calangute+-+Baga+Road,+Baga,+Goa/@15.5651469,73.6809758,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bbfeb9a773e4359:0x3158a466abe023a4!2m2!1d73.7508447!2d15.5649925!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 6th map  -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/sincity.jpg" style="height: 20rem; width:700px; padding-right: 140px;" >
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold; text-transform:capitalize">Sin City</h1>
                  <a href="https://www.google.com/maps/dir//Sin+City+Rooftop+Resto+%26+Lounge,+Clue+Hunt+Andheri,+New+Link+Road,+Star+Bazaar,+Sahayog+Nagar,+Bhudargarh+Colony,+Andheri+West,+Mumbai,+Maharashtra/@19.1310054,72.7611993,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3be7b7c6ec70763d:0xda9eb951309b84f4!2m2!1d72.8310681!2d19.1308564!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 6th map  -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/pinkfly.jpg" style="height: 20rem; width:700px; padding-right: 140px;" >
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;text-transform:capitalize">Pink Fly Lounge</h1>
                  <a href="https://www.google.com/maps/dir//Pink+Fly+Lounge,+Thomas+Colony,+Junglighat,+Port+Blair,+Andaman+and+Nicobar+Islands+744101/@11.6649847,92.6692311,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x30889509f229d58b:0x822a7c6c220e3960!2m2!1d92.7391029!2d11.6648556!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 7th map  -->

            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/titos.jpg" style="height: 20rem; width:700px; padding-right: 140px;" >
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">club titos</h1>
                  <a href="https://www.google.com/maps/dir//Club+Titos,+Titos+Lane,+Saunta+Vaddo,+Baga,+Goa/@15.5564732,73.6832923,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3bbfea1cb38b3577:0x245d8ae9e7c2a617!2m2!1d73.7531612!2d15.5563188!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>

            <!-- 8th map  -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/owlpremium.jpg" style="height: 20rem; width:700px; padding-right: 140px;" >
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">Owl-Premium Nightclub</h1>
                  <a href="https://www.google.com/maps/dir//Kitty+Su+Mumbai,+Ground+Floor+The+LaLit+Mumbai,+Airport+Rd,+Navpada,+Marol,+Andheri+East,+Mumbai,+Maharashtra+400059/@19.105277,72.873539,17z/data=!3m1!5s0x3be7c86a9ff16ff1:0x5cfe316bb9ff70cc!4m16!1m6!3m5!1s0x3be7c86a865ff533:0x53982e572975e4a6!2sKitty+Su+Mumbai!8m2!3d19.105277!4d72.875733!4m8!1m0!1m5!1m1!1s0x3be7c86a865ff533:0x53982e572975e4a6!2m2!1d72.875733!2d19.105277!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>


            <!-- 9th map  -->


            <div class="col-md-4 col-sm-6">
               <div class="gallery_img">

                  <figure>


                     <div class="flip-card">
                        <div class="flip-card-inner">
                           <div class="flip-card-front">


                              <img src="static/maps/images/halfmoon.jpg" style="height: 20rem; width:700px; padding-right: 130px;" >
                           </div>
                           <div class="flip-card-back">

                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                              <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >


                           </div>
                        </div>
                     </div>
                  </figure>
                  <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">The Half Moon Club</h1>
                  <a href="https://www.google.com/maps/dir//The+Half+moon+Club+And+Lounge,+86,+Satya+Tower+Basement+opposite+Bata+Showroom,+Sapna+Sangeeta+Rd,+Indore,+Madhya+Pradesh+452001/@22.7009822,75.8675407,17z/data=!4m16!1m6!3m5!1s0x3962fd9f87ee674f:0xd2b8934db7e8db25!2sThe+Half+moon+Club+And+Lounge!8m2!3d22.7010332!4d75.8696949!4m8!1m0!1m5!1m1!1s0x3962fd9f87ee674f:0xd2b8934db7e8db25!2m2!1d75.8696949!2d22.7010332!3e3"
                     width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
                     loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
                     class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
               </div>
            </div>

<!-- 11th map  -->


<div class="col-md-4 col-sm-6">
   <div class="gallery_img">

      <figure>


         <div class="flip-card">
            <div class="flip-card-inner">
               <div class="flip-card-front">


                  <img src="static/maps/images/wings.jpg" style="height: 20rem; width:700px; padding-right: 120px;">
               </div>
               <div class="flip-card-back">

                  <!-- <h1>John Doe</h1>
                  <p>Architect & Engineer</p>
                  <p>We love that guy</p> -->
                  <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >

               </div>
            </div>
         </div>
      </figure>
      <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">Wings Nightclub</h1>
      <a href="https://www.google.com/maps/dir//Angel+Business+Center,+above+Mahindra+Showroom,+Waliv+Phata,+Vasai+East,+Vasai-Virar,+Maharashtra+401208/@19.4071028,72.7952476,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3be7a9573ce80397:0xf9dbdb415f38ad83!2m2!1d72.8652881!2d19.4071162"
         width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
         loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
         class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
   </div>
</div>



      <!-- 12th map  -->


      <div class="col-md-4 col-sm-6">
         <div class="gallery_img">
      
            <figure>
      
      
               <div class="flip-card">
                  <div class="flip-card-inner">
                     <div class="flip-card-front">
      
      
                        <img src="static/maps/images/clubmahindra.jpg" style="height: 20rem; width:500px; padding-right: 100px;">
                     </div>
                     <div class="flip-card-back">
      
                        <!-- <h1>John Doe</h1>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p> -->
                        <img src="static/maps/images/sinqnightclub2.jpg" style="height: 19rem; padding-right: 140px;" >
      
                     </div>
                  </div>
               </div>
            </figure>
            <h1 style="text-align: center;background-color:burlywood;font-weight:bold;">Club Mahindra Resort</h1>
            <a href="https://www.google.com/maps/dir//Club+Mahindra+Resort+-+Varca+Beach+-+Goa,+Survey+No+176%2F1,+Varca,+Goa+403721/@15.2234569,73.9313751,17z/data=!4m19!1m9!3m8!1s0x3bbfb49c231f19c9:0xf110267798f3e133!2sClub+Mahindra+Resort+-+Varca+Beach+-+Goa!5m2!4m1!1i2!8m2!3d15.2234568!4d73.9335528!4m8!1m0!1m5!1m1!1s0x3bbfb49c231f19c9:0xf110267798f3e133!2m2!1d73.9335528!2d15.2234568!3e3"
               width="500" height="500" style="border:0;padding:10px;border-radius:none" allowfullscreen=""
               loading="lazy" referrerpolicy="no-referrer-when-downgrade" type="button"
               class="btn btn-primary btn-lg btn-block" target="_blank">Map Direction </a>
         </div>
      </div>



      </div>
   </div>
   <!-- end gallery -->
{% endblock %}
{% include 'footer.html' %}







   <!-- Javascript files-->
   <script src="static/js/jquery.min.js"></script>
   <script src="static/js/bootstrap.bundle.min.js"></script>
   <script src="static/js/jquery-3.0.0.min.js"></script>
   <!-- sidebar -->
   <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="static/js/custom.js"></script>
</body>

</html>